@font-face {
  font-family: "TT Lakes Bold";

  src: url("./font/TTLakes-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes Regular";

  src: url("./font/TTLakes-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
  color: black;
}

.page {
  margin: 0 auto;
  min-width: 320px;
  max-width: 1120px;
  max-height: 535px;
}

.header {
  display: flex;
}
@media screen and (min-width: 768px) {
  .header {
    height: 88px;

    align-items: center;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding: 18px 16px;
    align-items: center;
    height: 54px;
  }
}

@media screen and (min-width: 1120px) {
  .header {
    height: 88px;
    display: none;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .header__logo {
    order: 2;
    padding-left: 21px;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    order: 1;
    padding-left: 17px;
  }
}

@media screen and (min-width: 1120px) {
  .header__logo {
    order: 2;
    padding-left: 21px;
  }
}

@media screen and (max-width: 320px) {
  .header__divinder {
    order: 2;
    padding-left: 16px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .header__divinder {
    order: 1;

    width: 2px;
    height: 32px;
  }
}

@media screen and (min-width: 1120px) {
  .header__divinder {
    order: 1;

    width: 2px;
    height: 32px;
  }
}

@media screen and (min-width: 768px) {
  .header__burger {
    padding-left: 24px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 1120px) {
  .header__burger {
    padding-left: 24px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__call {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header__call {
    display: block;
    order: 3;
    margin-left: 250px;
  }
}

@media screen and (min-width: 800px) {
  .header__call {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__chat {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 800px) {
  .header__chat {
    display: block;
    order: 4;
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media screen and (min-width: 800px) {
  .header__chat {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__profile {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 800px) {
  .header__profile {
    display: block;
    order: 5;
    padding-right: 20px;
  }
}

@media screen and (min-width: 800px) {
  .header__profile {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .header__repair {
    order: 3;
    padding-right: 16px;
  }
}

@media screen and (min-width: 768px) {
  .header__repair {
    order: 7;
    padding-left: 20px;
    padding-right: 16px;
  }
}

@media screen and (min-width: 1120px) {
  .header__repair {
    order: 7;
    padding-left: 20px;
    padding-right: 16px;
  }
}

@media screen and (max-width: 320px) {
  .header__status {
    height: 40px;
    width: 40px;
    order: 4;
  }
}

@media screen and (min-width: 768px) {
  .header__status {
    order: 8;
    padding-right: 20px;
  }
}
@media screen and (min-width: 1120px) {
  .header__status {
    order: 8;
    padding-right: 20px;
  }
}

@media screen and (max-width: 320px) {
  .header__divinder2 {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header__divinder2 {
    order: 6;
  }
}

@media screen and (min-width: 1120px) {
  .header__divinder2 {
    order: 6;
  }
}

.main {
  background-color: #f8f8f8;
}

@media screen and (max-width: 320px) {
  .main {
    padding-top: 24px;
  }
}

@media screen and (min-width: 768px) {
  .main {
    height: 420px;
  }
}

@media screen and (min-width: 1120px) {
  .main {
    height: 570px;
  }
}

@media screen and (max-width: 320px) {
  .main__title {
    display: flex;
    max-height: 40px;
    padding-bottom: 24px;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .main__title {
    display: flex;
    align-items: center;
    max-height: 40px;
    padding-top: 24px;
    padding-bottom: 32px;
  }
}
@media screen and (min-width: 1120px) {
  .main__title {
    display: flex;
    align-items: center;
    max-height: 40px;
    padding-top: 24px;
    padding-bottom: 32px;
  }
}

.main__subtitle {
  font-family: "TT Lakes Bold";
}

@media screen and (max-width: 320px) {
  .main__subtitle {
    margin: 0;
    /* border: 1px solid black; */

    font-size: 28px;
    line-height: 40px;
    max-width: 288px;
    letter-spacing: 0.6px;
  }
}

@media screen and (min-width: 768px) {
  .main__subtitle {
    margin: 0;
    font-size: 28px;
    line-height: 40px;
  }
}

@media screen and (min-width: 1120px) {
  .main__subtitle {
    margin: 0;
    font-size: 28px;
    line-height: 40px;
  }
}

.main__title-highlight {
  padding-right: 16px;
}

@media screen and (max-width: 320px) {
  .main__title-highlight {
    padding-right: 12px;
  }
}

@media screen and (min-width: 768px) {
  .main__title-highlight {
    max-height: 40px;
  }
}

@media screen and (min-width: 1120px) {
  .main__title-highlight {
    max-height: 40px;
  }
}

@media screen and (min-width: 320px) and (max-width: 1119px) {
  .main__status {
    display: none;
  }
}

@media screen and (min-width: 1120px) {
  .main__status {
    font-family: "TT Lakes Regular";
    display: block;
    display: flex;
    align-items: center;
    font-weight: 600;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
  }
}

@media screen and (min-width: 1120px) {
  .main__status-img {
    padding: 8px;
  }
}

@media screen and (min-width: 320px) and (max-width: 1119px) {
  .main__repair {
    display: none;
  }
}

@media screen and (min-width: 1120px) {
  .main__repair {
    font-family: "TT Lakes Regular";
    display: block;
    display: flex;
    align-items: center;
    padding-left: 450px;
    padding-right: 24px;
    font-weight: 600;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
  }
}

@media screen and (min-width: 1120px) {
  .main__repair-img {
    padding: 8px;
  }
}

.navigation {
  margin: 0;
}
@media screen and (min-width: 320px) {
  .navigation {
    overflow-x: scroll;
    overflow-y: hidden;
    padding-left: 16px;
  }
}
@media screen and (min-width: 768px) {
  .navigation {
    padding-left: 24px;
  }
}

@media screen and (min-width: 1120px) {
  .navigation {
    display: flex;
  }
}

.navigation__item {
  list-style-type: none;
  font-family: "TT Lakes Regular";
}

@media screen and (min-width: 320px) {
  .navigation__item {
    margin: 0;
    padding: 0;
    align-items: center;
    display: flex;
    height: 40px;
    font-size: 16px;
    line-height: 24px;

    column-gap: 15px;
    letter-spacing: 0.2px;
    white-space: pre;
  }
}

@media screen and (min-width: 768px) {
  .navigation__item {
    column-gap: 25px;
  }
}

@media screen and (min-width: 1120px) {
  .navigation__item {
    column-gap: 35px;
    flex-wrap: wrap;
    height: 82px;
  }
}

@media screen and (min-width: 320px) and (max-width: 1119px) {
  .navigation__item-text1 {
    display: flex;
    background-color: #ffffff;
    border-radius: 5%;
    border: 2px solid #b8ffec;
    width: 246px;
    height: 40px;
    padding-left: 16px;
    padding-right: 10px;
    justify-content: center;
    align-items: center;
    white-space: pre;
  }
}

@media screen and (min-width: 1120px) {
  .navigation__item-text1 {
    display: block;
  }
}

@media screen and (min-width: 320px) and (max-width: 1119px) {
  .navigation__item-text0 {
    display: none;
  }
}

@media screen and (min-width: 1120px) {
  .navigation__item-text0 {
    display: flex;
    background-color: #ffffff;
    border-radius: 5%;
    border: 2px solid #b8ffec;
    padding-left: 22px;
    padding-right: 22px;
    height: 40px;
    justify-content: center;
    align-items: center;
    white-space: pre;
  }
}

@media screen and (min-width: 320px) and (max-width: 1119px) {
  .navigation__item-text4 {
    display: none;
  }
}

@media screen and (min-width: 1120px) {
  .navigation__item-text4 {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .navigation__item-text5 {
    display: block;
  }
}

@media screen and (min-width: 1120px) {
  .navigation__item-text5 {
    display: block;
  }
}

@media screen and (min-width: 1120px) {
  .navigation__item-text6 {
    padding-left: 22px;
  }
}

@media screen and (min-width: 320px) and (max-width: 1119px) {
  .navigation__item-text2 {
    display: block;
  }
}

@media screen and (min-width: 1120px) {
  .navigation__item-text2 {
    display: none;
  }
}
.description {
  font-family: "TT Lakes Regular";
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .description {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    padding-top: 24px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1119px) {
  .description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-left: 24px;
    padding-right: 29px;
    padding-top: 32px;
  }
}

@media screen and (min-width: 1120px) {
  .description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 16px 29px 0 32px;
  }
}

.description__text {
  font-size: 14px;
}

@media screen and (max-width: 320px) {
  .description__text {
    margin: 0 auto;
    font-size: 14px;

    max-width: 288px;
    max-height: 90px;
    line-height: 18px;

    margin-bottom: 16px;
    letter-spacing: 0.2px;
  }
}
@media screen and (min-width: 768px) {
  .description__text {
    margin: 0;

    max-width: 312px;
    max-height: 208px;
    line-height: 20px;

    letter-spacing: 0.2px;
  }
}

@media screen and (min-width: 1120px) {
  .description__text {
    max-width: 490px;
    max-height: 210px;
    line-height: 20px;

    letter-spacing: 0.2px;
  }
}

.description__text-more {
  font-size: 14px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .description__text-more {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .description__text-more {
    width: 312px;
    margin: 0;
    display: block;
  }
}

@media screen and (min-width: 1120px) {
  .description__text-more {
    width: 490px;
    margin: 0;
    display: none;
  }
}

.description__text-full {
  font-size: 14px;
}

@media screen and (min-width: 320px) and (max-width: 1119px) {
  .description__text-full {
    display: none;
  }
}

@media screen and (min-width: 1120px) {
  .description__text-full {
    width: 490px;
    margin: 0;
    display: block;
  }
}

@media screen and (max-width: 320px) {
  .description__more {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    padding-left: 16px;
  }
}
@media screen and (min-width: 768px) {
  .description__more {
    display: flex;
    align-items: center;
    font-weight: 600;
    line-height: 24px;
    font-size: 16px;
    letter-spacing: 0.2px;
    width: 132px;
    padding-top: 10px;
  }
}

@media screen and (min-width: 1120px) {
  .description__more {
    display: flex;
    align-items: center;
    font-weight: 600;
    line-height: 24px;
    font-size: 16px;
    letter-spacing: 0.2px;
    width: 132px;
    padding-top: 13px;
  }
}

.description__more-img {
  height: 24px;
  width: 24px;
}

@media screen and (min-width: 320px) {
  .description__more-text {
    font-weight: 600;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
  }
}
.description__image {
  max-width: 100%;
}

@media screen and (min-width: 320px) {
  .description__image {
    max-width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .description__image {
    max-width: 360px;
  }
}
@media screen and (min-width: 1120px) {
  .description__image {
    max-width: 532px;
  }
}
