@font-face {
  font-family: "TT Lakes Bold";

  src: url("./font/TTLakes-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes Regular";

  src: url("./font/TTLakes-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
  color: black;
}

.page {
  margin: 0 auto;
  min-width: 320px;
  max-width: 1120px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 16px;
}

@media screen and (min-width: 1120px) {
  .header {
    display: none;
  }
}

.header__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.header__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
@media screen and (min-width: 768px) {
  .header__right {
    gap: 20px;
  }
}

@media screen and (max-width: 767px) {
  .header__left::after {
    content: url("./image/divider.png");
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .header__burger::after {
    content: url("./image/divider.png");
    padding-left: 20px;
  }
}

.header__call {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__call {
    display: block;
  }
}

@media screen and (min-width: 800px) {
  .header__call {
    display: none;
  }
}

.header__chat {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__chat {
    display: block;
  }
}
@media screen and (min-width: 800px) {
  .header__chat {
    display: none;
  }
}

.header__profile {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__profile {
    display: block;
  }
}

@media screen and (min-width: 800px) {
  .header__profile {
    display: none;
  }
}
.header__repair {
  padding-top: 24px;
  padding-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .header__repair::before {
    content: url("./image/divider.png");
    padding-right: 20px;
  }
}

.header__status {
  padding-top: 24px;
  padding-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .header__status {
    padding-right: 20px;
  }
}

.main {
  background-color: #f8f8f8;
  width: auto;
}

.main__title {
  display: flex;
  padding-bottom: 24px;
  padding-top: 16px;
  white-space: nowrap;
}

@media screen and (min-width: 768px) {
  .main__title {
    align-items: center;
    max-height: 40px;
    padding-top: 24px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 1120px) {
  .main__title {
    padding-top: 42px;
  }
}

.main__subtitle {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: "TT Lakes Bold";
  margin: 0;
  font-size: 28px;
  line-height: 40px;
  max-width: 288px;
  letter-spacing: 0.6px;
}

.main__subtitle::before {
  content: url(" ./image/highlight.png ");
  height: 40px;
}

@media screen and (min-width: 768px) {
  .main__subtitle {
    gap: 20px;
  }
}

@media screen and (min-width: 1120px) {
  .main__subtitle {
    gap: 30px;
  }
}

.main__add {
  display: none;
}

@media screen and (min-width: 1120px) {
  .main__add {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 450px;
    gap: 32px;
    white-space: nowrap;
  }
}

.main__status {
  display: none;
}

@media screen and (min-width: 1120px) {
  .main__status {
    font-family: "TT Lakes Regular";
    display: block;
    display: flex;
    align-items: center;
    font-weight: 600;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    padding: 8px 24px 8px 8px;
  }
}

.main__status-img {
  padding: 8px;
}

.main__repair {
  display: none;
}

@media screen and (min-width: 1120px) {
  .main__repair {
    font-family: "TT Lakes Regular";
    display: block;
    display: flex;
    align-items: center;

    font-weight: 600;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
  }
}
.main__repair-img {
  padding: 8px;
}

.navigation {
  display: flex;
  margin: 0;
  overflow-x: scroll;
  overflow: hidden;
  padding-left: 16px;
}

@media screen and (min-width: 768px) {
  .navigation {
    padding-left: 24px;
  }
}

.navigation__item {
  list-style: none;
  font-family: "TT Lakes Regular";
}

.navigation__item {
  margin: 0;
  padding: 0;
  align-items: center;
  display: flex;
  height: 40px;
  font-size: 16px;
  line-height: 24px;

  column-gap: 15px;
  letter-spacing: 0.2px;
  white-space: pre;
}

@media screen and (min-width: 768px) {
  .navigation__item {
    column-gap: 25px;
  }
}

@media screen and (min-width: 1120px) {
  .navigation__item {
    column-gap: 33px;
    flex-wrap: wrap;
    height: 82px;
  }
}

@media screen and (min-width: 320px) and (max-width: 1119px) {
  .navigation__item-text1 {
    display: flex;
    background-color: #ffffff;
    border-radius: 5%;
    border: 2px solid #b8ffec;
    width: 246px;
    height: 40px;
    padding-left: 16px;
    padding-right: 10px;
    justify-content: center;
    align-items: center;
    white-space: pre;
  }
}

@media screen and (min-width: 1120px) {
  .navigation__item-text1 {
    display: block;
  }
}

@media screen and (min-width: 320px) and (max-width: 1119px) {
  .navigation__item-text0 {
    display: none;
  }
}

@media screen and (min-width: 1120px) {
  .navigation__item-text0 {
    display: flex;
    background-color: #ffffff;
    border-radius: 5%;
    border: 2px solid #b8ffec;
    padding-left: 22px;
    padding-right: 22px;
    height: 40px;
    justify-content: center;
    align-items: center;
    white-space: pre;
  }
}

@media screen and (min-width: 320px) and (max-width: 1119px) {
  .navigation__item-text4 {
    display: none;
  }
}

@media screen and (min-width: 1120px) {
  .navigation__item-text4 {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .navigation__item-text5 {
    display: block;
  }
}

@media screen and (min-width: 1120px) {
  .navigation__item-text6 {
    padding-left: 22px;
  }
}

@media screen and (min-width: 320px) and (max-width: 1119px) {
  .navigation__item-text2 {
    display: block;
  }
}

@media screen and (min-width: 1120px) {
  .navigation__item-text2 {
    display: none;
  }
}
.description {
  margin: 0 auto;
  font-family: "TT Lakes Regular";
  display: flex;
  flex-direction: column;
  font-size: 14px;
  padding-top: 24px;
}

@media screen and (min-width: 768px) {
  .description {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-left: 24px;
    padding-right: 29px;
    padding-top: 32px;
  }
}

@media screen and (min-width: 1120px) {
  .description {
    padding: 16px 29px 0 32px;
  }
}

.description__text {
  margin: auto;
  font-size: 14px;
  letter-spacing: 0.2px;
  max-width: 288px;
  max-height: 90px;
  line-height: 18px;
}

@media screen and (min-width: 768px) {
  .description__text {
    margin: 0;
    max-width: 312px;
    max-height: 208px;
    line-height: 20px;
  }
}

@media screen and (min-width: 1120px) {
  .description__text {
    max-width: 490px;
    max-height: 210px;
  }
}

.description__text-more {
  display: none;
}

@media screen and (min-width: 768px) {
  .description__text-more {
    width: 312px;
    margin: 0;
    display: block;
    font-size: 14px;
  }
}

@media screen and (min-width: 1120px) {
  .description__text-more {
    display: none;
  }
}

.description__text-full {
  display: none;
}

@media screen and (min-width: 1120px) {
  .description__text-full {
    width: 490px;
    margin: 0;
    display: block;
    font-size: 14px;
  }
}

.description__more {
  padding: 0;
  display: flex;
  width: 132px;

  padding: 10px 0 16px 16px;
  align-items: center;
  letter-spacing: 0.2px;
  font-weight: 600;
  line-height: 24px;
  font-size: 16px;
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  column-gap: 8px;
  white-space: pre;
}

@media screen and (min-width: 768px) {
  .description__more {
    padding-top: 13px;
    padding-left: 0;
  }
}

.description__more-img {
  height: 24px;
  width: 24px;
}

.description__more-text {
  margin: 0;
}

.description__image {
  max-width: 320px;
}

@media screen and (min-width: 768px) {
  .description__image {
    max-width: 360px;
  }
}
@media screen and (min-width: 1120px) {
  .description__image {
    max-width: 532px;
  }
}
